<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">

    <h1>Customers interest in Products</h1>
  </div>
</div>
    

 <div class="chart-container" style="position: relative; height:15vh; width:50vw; margin:auto; display:block;">   
 <canvas id="myChart"></canvas>  
</div>
    
  
<script>
    

//data contains 2 arrays, first is the names, second is quantities
var ctx = document.getElementById('myChart').getContext('2d');
var colors = ['green', 'red', '#FF33FF'];

var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['positive ratings','negative ratings'],
        datasets: [{
            label: '# ratings',
            data: [<%= ratingArray %>],
            backgroundColor: colors,
            borderWidth: 1
        }]
    }
});



</script>
    
    
</body>
</html>